.bg-eso-dark {
  background-color: Green;
}

.frt-table td {
  border: 1px solid Green;
}

.frt-table th {
  background: Green;
  border: 1px solid White;
  color: White;
}

.striped--eso-light:nth-child(odd) {
  background-color: Honeydew;
}
