.bg-eso-dark {
  background-color: Teal;
}

.frt-table td {
  border: 1px solid Teal;
}

.frt-table th {
  background: Teal;
  border: 1px solid White;
  color: White;
}

.striped--eso-light:nth-child(odd) {
  background-color: Azure;
}
