.bg-eso-dark {
  background-color: Maroon;
}

.frt-table td {
  border: 1px solid Maroon;
}

.frt-table th {
  background-color: Maroon;
  border: 1px solid White;
  color: White;
}

.striped--eso-light:nth-child(odd) {
  background-color: #fff0f0;
}

/*
Maroon #800000 128,0,0
Green #008000 0,128,0
Navy #000080 0,0,128
Teal #008080 0,128,128
----------------------------
myLightRed #fff0f0 255,240,240
Honeydew #F0FFF0 240,255,240
myLightBlue #f0f0ff 240,240,255
Azure #F0FFFF 240,255,255
*/
