.bg-eso-dark {
  background-color: Navy;
}

.frt-table td {
  border: 1px solid Navy;
}

.frt-table th {
  background: Navy;
  border: 1px solid White;
  color: White;
}

.striped--eso-light:nth-child(odd) {
  background-color: #f0f0ff;
}
